<% flash.each do |type, msg| %>
  <br>
  <div class="alert alert-primary" role="alert">
    <%= msg %>
  </div>
<% end %>
<h1>Forget Password</h1>
<%= form_with url: "/forget-password", method: :post do |form| %>
  <%= form.label :forget_pw_username, "Username" %>
  <%= form.text_field :forget_pw_username, class: "form-control"%>
  <br>
  <%= form.label :email_to_receive, "Recipient's Email" %>
  <%= form.email_field :email_to_receive, class: "form-control"%>
  <br>
  <%= form.submit "Submit", class: "btn btn-dark" %>
<% end %>