<% if current_user %>
  <p> Logged in as: </p>
  <p> Email: <%= current_user.email %></p>
  <p> Username: <%= current_user.username %></p>
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Sign In", signin_path %>
<% end %>

<% flash.each do |type, msg| %>
  <br>
  <div class="alert alert-primary" role="alert">
    <%= msg %>
  </div>
<% end %>


<div class="card text-white">
  <img src=<%= @random_product.images.sample.url %> class="card-img " alt="...">
  <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
    <!--sample to display random collection for a random product -->
    <h1 class="card-title" style = "text-shadow: 1px 1px #000000; "><%= @random_product.collections.sample.title %></h1>
    <h5 class="card-text" style = "text-shadow: 1px 1px #000000;"><%= @random_product.title %></h5>
    <h5 class="card-text" style = "text-shadow: 1px 1px #000000;">$<%= @random_product.price %></h5>
    <form action="/">
      <input type="hidden" name="product_id" value= <%=@random_product.id%>>
      <input class="btn btn-light" type="submit" value="Save">
    </form>
  </div>
</div>

<br/>

<div class="d-flex justify-content-between">
<h1>Popular</h1>
<!--Used text decoration = none to hide underline for hyperlink-->
<h5><%= link_to "See All", popular_path, {:style=>'text-decoration: none;'} %></h5>
</div>
<div class="container">
  <div class="row">
      <!--Show two popular product in descending order-->
      <% @products_ordered = Product.order("popularity DESC").limit(2) %>
      <% @products_ordered.each do |p| %>
      <div class="col">
        <a href="<%=products_view_path(p.id)%>">
          <img src=<%= p.images.sample.url %> class="card-img " alt="...">
          <p ><%= p.title %></p>
          <p  style="margin-top: -10px;">$<%= p.price %></p>
        </a>
      </div>
      <% end %>
  </div>
</div>

<h1>Newsletter</h1>
<p> Sign up to our newsletter</p>

<form action="/">
  <input type="text_field" name="address" placeholder="Enter your email">
  <button class="pull-right" type="submit" value="Save" style="border-radius:50%;">
    <i class="fa fa-paper-plane" aria-hidden="true"></i>
  </button>
</form>

<hr>

<h1>Temporary Saved List: </h1>
<h1><%= @saved_list %></h1>
<h1>Last Cookie <%= @last_cookie %></h1>
<h1>Current Proc ID <%= @random_product.id %></h1>