<div class="d-flex flex-row">
  <div class="p-2"><h1>Cart</h1></div>
  <div class="p-2"><p>(<%= @current_user.bags.count %>)</p></div>
</div>

<% total_list = Array.new %>
<% total_price = 0.00%>

<% @current_user.bags.each do |bag_item| %> 

    <div class="d-flex">
    <div class="flex-shrink-50">
        <img src=<%= bag_item.product.images.sample.url %> class="card-img" alt="...">
    </div>
    <div class="flex-grow-1 ms-5">
        <a href="<%=products_view_path(bag_item.product.id)%>">
            <p><%= bag_item.product.title %></p>
            <%# To Check if the product variant belongs to the product%> 
            <% if bag_item.product_variant.product_id == bag_item.product.id %>
                <p>Color:<%= bag_item.product_variant.color%></p>
                <p>Size:<%= bag_item.product_variant.size%></p>
            <% end %>
            <p>Quantity: <%= bag_item.quantity %></p>
            <%# %= bag_item.product.product_variants[0].size %> 
            <p style="margin-top: -10px;"><%=  number_to_currency(bag_item.product.price, :unit => "$") %></p>
            <% total_item_price = bag_item.product.price * bag_item.quantity %>
            <% total_list << total_item_price %>
        </a>
        </div>
    </div>
    <hr>
<% end %>
<% total_list.each do |i| %>
    <% total_price += i%>
<% end %>
<% tax = (total_price*10)/100 %>
<% subtotal = total_price - tax %>
<h5>Tax: <%= number_to_currency(tax, :unit => "$")%></h5>
<h5>Sub-total: <%= number_to_currency(subtotal, :unit => "$") %></h5>
<h1>Total: <%= number_to_currency(total_price, :unit => "$") %></h1>