<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bag.user %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @bag.quantity %>
</p>

<p>
  <strong>Product:</strong>
  <%= @bag.product %>
</p>

<%= link_to 'Edit', edit_bag_path(@bag) %> |
<%= link_to 'Back', bags_path %>
