<%= form_with(model: saved_list, local: true) do |form| %>
  <% if saved_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(saved_list.errors.count, "error") %> prohibited this saved_list from being saved:</h2>

      <ul>
      <% saved_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
