<p id="notice"><%= notice %></p>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
     <% @product.images.each_with_index do |p, index| %>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%=index %>" class="<%= index == 0 ? 'active' : '' %>" aria-current="true" aria-label="Slide <%=index %>"></button>
      <% end %>
  </div>
  <div class="carousel-inner">
    <% @product.images.each.with_index(0) do |post, index| %>
      <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
        <%= link_to post.url do %>
          <%= image_tag(post.url, class: 'd-block w-100 img-fluid') %>
        <% end %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<form action="/">
    <input type="hidden" name="product_id" value= <%=@product.id%>>
    <input class="btn btn-light" type="submit" value="Save">
</form>

<h3 style='font-weight:bold;'>
  <%= @product.title %>
</h3>

<h4>
  <%= number_to_currency(@product.price, :unit => "$")%>
</h4>

<p style='font-style:italic'>
  <%= @product.desc %>
</p>

<hr>
  <form action="/bags" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">
    <div class="text-center">
      <div class="row">
        <div class="input-group">
          <select class="form-select form-select-lg mb-3" name="size" id="size"  aria-label=".form-select-lg example">
            <% @product.product_variants.each.map(&:size).uniq.each do |u| %>
           <option value="<%=u %>"><%= u %></option>
           <% end %>
          </select>
          <select class="form-select form-select-lg mb-3" name="color" id="color" style="margin-left:-1px" aria-label=".form-select-lg example">
            <% @product.product_variants.each.map(&:color).uniq.each do |u| %>
           <option value="<%=u %>"><%= u %></option>
           <% end %>
          </select>
          
          <select class="form-select form-select-lg mb-3" type="number" name="bag[quantity]" id="bag_quantity" style="margin-left:-1px" aria-label=".form-select-lg example">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
            <option value=8>8</option>
            <option value=9>9</option>
            <option value=10>10</option>
          </select>

          <input type="hidden" name="bag[purchased]" id="bag_purchased" value="false">
          <input type="hidden" name="bag[product_id]" id="bag_product_id" value=<%= @product.id %>>
          <input type="hidden" name="bag[product_variant_id]" id="bag_product_variant_id" value=3>
          <% if current_user %>
          <input type="hidden" name="bag[user_id]" id="bag_user_id" value="<%= current_user.id %>">
          <% else %>
            <% session[:tmp_cart_pid] = @product.id %>
          <% end %>
        </div>
        <br>
      </div>
      <input type="submit" class="btn btn-dark" value="Add to bag"></button>
      </div>
  </form>
<hr>
<br>
