<p id="notice"><%= notice %></p>


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
     <% @product.images.each_with_index do |p, index| %>
       <% if index == 0 %>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%=index %>" class="active" aria-current="true" aria-label="Slide <%=index %>"></button>
         <% else %>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%=index %>" aria-label="Slide <%=index %>"></button>
       <% end %>  
      <% end %>
  </div>
  <div class="carousel-inner">
    <% @product.images.each_with_index do |p, index| %>
      <% if index == 0 %>
        <div class="carousel-item-actve">
          <img src="<%= p.url %>" class="d-block w-100" alt="...">
        </div>
      <% else %>
        <div class="carousel-item">
          <img src="<%= p.url %>" class="d-block w-100" alt="...">
        </div>
      <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<form action="/">
      <input type="hidden" name="product_id" value= <%=@product.id%>>
      <input class="btn btn-light" type="submit" value="Save">
</form>

<p>
  <strong>Id:</strong>
  <%= @product.id %>
</p>

<h3 style='font-weight:bold;'>
  <%= @product.title %>
</h3>

<h4>
  $<%= @product.price %>
</h4>

<p style='font-style:italic'>
  <%= @product.desc %>
</p>

<hr>
  <div class="text-center">
      <form style="display:table">
        <div class-"row">
          <div class="input-group">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
              <% @product.product_variants.each.map(&:size).uniq.each do |u| %>
             <option value="1"><%= u %></option>
             <% end %>
            </select>
          
            <select class="form-select form-select-lg mb-3" style="margin-left:-1px" aria-label=".form-select-lg example">
              <% @product.product_variants.each.map(&:color).uniq.each do |u| %>
             <option value="1"><%= u %></option>
             <% end %>
            </select>
            
            <select class="form-select form-select-lg mb-3" style="margin-left:-1px" aria-label=".form-select-lg example">
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="3">Four</option>
              <option value="3">Five</option>
              <option value="3">Six</option>
              <option value="3">Seven</option>
              <option value="3">Eight</option>
              <option value="3">Nine</option>
              <option value="3">Ten</option>
            </select>
          </drv>
          <br>
        </div>
        <button type="button" class="btn btn-dark">Add to bag</button>
      </form>
  </div>
<hr>

<p>
  <strong>Date stocked:</strong>
  <%= @product.date_stocked %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @product.popularity %>
</p>

<%=@product.product_variants.size %>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<br>
<br>
<br>
<br>
